

	<header>

		<nav class='header-img'>
			<img class='menu-pic' id='menu-pic' src='images/menu.svg' onclick="openMenu()">

		</nav>
		<nav class='header'>

			<div class="head-text"> WEB ENTHUSIASTS' CLUB NITK</div>

		</nav>
		<div id="myNav" class="overlay">

			<!-- Button to close the overlay navigation -->
			<!-- <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()">&times;</a> -->

			<!-- Overlay content -->
			<div class="overlay-content">
				<a href="/">HOME</a>
				<a href="/events">EVENTS</a>
				<a href="/contests">CONTESTS</a>
				<a href="/projects">PROJECTS</a>
				<a href="/team">TEAM</a>
			</div>

		</div>

	</header>
	<section class="hero" id="sec0">
		<div class="hero-image">
			<div class="title-contents">
				<h2>WE ARE</h2>
				<h1>WEB <br>ENTHUSIASTS' <br> CLUB</h1>
				<h2>NITK</h2><br>
				<img class="web-club-logo" src='images/webclub-logo-orange.png'>
			</div>
		</div>
		<div class="hero-intro">
			<h1>Hello, World</h1>
			<p>We are group of motivated, passionate students who provide help, technical support, education(in form of talks,
				lectures, workshops, demonstrations, code showcases, etc.) to each other as well as to anyone else who is
			interested; other students, faculty and any denizen of National Institute of Technology Karanataka, Surathkal</p>
		</div>
	</section>
	<section class="upcoming-events" id="sec1">
		<div class="events-title">
			<div style="font-size: 1.5em;">Upcoming</div>
			<h1 style="margin: 0; font-size: 3em;">Events</h1>

			<a href="/events">more..</a>
		</div>
		<div class="upcoming-events-list">

		</div>
	</section>
	

	


